<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django</title>
</head>
<body>
    <h2 style="background-color: orange;"> About </h2>
    <p style="background-color: bisque;"> {{ about | upper }} </p>
    <p style="background-color: bisque;"> {{ about | lower }} </p>
    <p style="background-color: bisque;"> {{ about | title }} </p>
    <p style="background-color: bisque;"> {{ about | wordcount }} </p>

    <p style="background-color: aquamarine;"> {{ nums | length }} </p>
    <p style="background-color: aquamarine;"> {{ nums | slice:"0::2" }} </p>
    <p style="background-color: aquamarine;"> {{ nums | slice:"1:3" }} </p>
    <p style="background-color: aquamarine;"> {{ nums | first }} </p>
    <p style="background-color: aquamarine;"> {{ nums | last }} </p>
</body>
</html>